---
info:
    application:
      name: HttpClient
      description: HttpClient to send values to ThingsBoard

thingsboard:
  url: http://localhost:9090
  devices:
    -
      name: "My New Device"
      telemetry: temperature
      accessToken: 4GxVgtFbkcpXeshC46Wm
      range:
        min: -20
        max: 40
    -
      name: MySecondDevice
      telemetry: humidity
      accessToken: 0m1UoTLnyUEInwg7k10f
      range:
        min: 0
        max: 100
